In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
states = pd.read_csv('data/us-states.csv')
states[:10]

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
5  2020-01-25  California     6      1       0
6  2020-01-25    Illinois    17      1       0
7  2020-01-25  Washington    53      1       0
8  2020-01-26     Arizona     4      1       0
9  2020-01-26  California     6      2       0

In [4]:
counties = pd.read_csv('data/us-counties.csv')
counties[:10]
counties.dropna()
print("Total deaths: " + str(counties['deaths'].sum()))

Total deaths: 14710

In [6]:
states.loc[states['state'] == 'Florida']

            date    state  fips  cases  deaths
242   2020-03-01  Florida    12      2       0
255   2020-03-02  Florida    12      2       0
270   2020-03-03  Florida    12      3       0
286   2020-03-04  Florida    12      3       0
304   2020-03-05  Florida    12      4       0
325   2020-03-06  Florida    12      7       2
354   2020-03-07  Florida    12     12       2
388   2020-03-08  Florida    12     13       2
423   2020-03-09  Florida    12     14       2
460   2020-03-10  Florida    12     23       2
501   2020-03-11  Florida    12     26       2
547   2020-03-12  Florida    12     46       2
595   2020-03-13  Florida    12     70       2
646   2020-03-14  Florida    12     70       3
698   2020-03-15  Florida    12    109       3
751   2020-03-16  Florida    12    141       4
804   2020-03-17  Florida    12    210       6
858   2020-03-18  Florida    12    326       7
912   2020-03-19  Florida    12    434       8
966   2020-03-20  Florida    12    564       9
1020  2020-03-21  Florida    12    764      11
1074  2020-03-22  Florida    12   1000      13
1128  2020-03-23  Florida    12   1222      18
1182  2020-03-24  Florida    12   1467      19
1236  2020-03-25  Florida    12   1965      23
1290  2020-03-26  Florida    12   2477      29
1344  2020-03-27  Florida    12   3198      46
1398  2020-03-28  Florida    12   4038      56
1453  2020-03-29  Florida    12   4942      59
1508  2020-03-30  Florida    12   5694      71

In [13]:
florida = states.loc[states['state'] == 'Florida']
florida['cases'].sum()

28846

In [7]:
floridaCounties = counties.loc[counties['state'] == 'Florida']
floridaCounties['deaths'].sum()

404

In [17]:
miami_dade = floridaCounties.loc[counties['county'] == 'Miami-Dade']
miami_dade
#print("Total cases: " + str(miami_dade['cases'].sum()))
#print("Total deaths: " + str(miami_dade['deaths'].sum()))

             date      county    state     fips  cases  deaths
1207   2020-03-11  Miami-Dade  Florida  12086.0      1       0
1418   2020-03-12  Miami-Dade  Florida  12086.0      2       0
1684   2020-03-13  Miami-Dade  Florida  12086.0      8       0
2006   2020-03-14  Miami-Dade  Florida  12086.0      8       0
2390   2020-03-15  Miami-Dade  Florida  12086.0     13       0
2827   2020-03-16  Miami-Dade  Florida  12086.0     23       0
3311   2020-03-17  Miami-Dade  Florida  12086.0     43       0
3869   2020-03-18  Miami-Dade  Florida  12086.0     77       0
4538   2020-03-19  Miami-Dade  Florida  12086.0    101       0
5317   2020-03-20  Miami-Dade  Florida  12086.0    124       0
6247   2020-03-21  Miami-Dade  Florida  12086.0    170       0
7287   2020-03-22  Miami-Dade  Florida  12086.0    228       0
8433   2020-03-23  Miami-Dade  Florida  12086.0    277       0
9680   2020-03-24  Miami-Dade  Florida  12086.0    365       0
11057  2020-03-25  Miami-Dade  Florida  12086.0    489       0
12611  2020-03-26  Miami-Dade  Florida  12086.0    653       0
14292  2020-03-27  Miami-Dade  Florida  12086.0    869       2
16088  2020-03-28  Miami-Dade  Florida  12086.0   1121       3
17993  2020-03-29  Miami-Dade  Florida  12086.0   1471       3
19988  2020-03-30  Miami-Dade  Florida  12086.0   1700       4

In [16]:
leon = floridaCounties.loc[counties['county'] == 'Leon']
leon
#print("Total cases: " + str(leon['cases'].sum()))
#print("Total deaths: " + str(leon['deaths'].sum()))

             date county    state     fips  cases  deaths
3867   2020-03-18   Leon  Florida  12073.0      1       0
4535   2020-03-19   Leon  Florida  12073.0      3       0
5314   2020-03-20   Leon  Florida  12073.0      4       0
6243   2020-03-21   Leon  Florida  12073.0      4       0
7283   2020-03-22   Leon  Florida  12073.0      4       0
8429   2020-03-23   Leon  Florida  12073.0      5       0
9676   2020-03-24   Leon  Florida  12073.0      6       0
11053  2020-03-25   Leon  Florida  12073.0      7       0
12607  2020-03-26   Leon  Florida  12073.0     12       0
14287  2020-03-27   Leon  Florida  12073.0     15       0
16083  2020-03-28   Leon  Florida  12073.0     17       0
17988  2020-03-29   Leon  Florida  12073.0     16       0
19983  2020-03-30   Leon  Florida  12073.0     21       0

In [10]:
broward = floridaCounties.loc[counties['county'] == 'Broward']
print("Total cases: " + str(broward['cases'].sum()))
print("Total deaths: " + str(broward['deaths'].sum()))

Total cases: 5980
Total deaths: 67

In [15]:
alachua = floridaCounties.loc[counties['county'] == 'Alachua']
alachua
#print("Total cases: " + str(alachua['cases'].sum()))
#print("Total deaths: " + str(alachua['deaths'].sum()))

             date   county    state     fips  cases  deaths
1031   2020-03-10  Alachua  Florida  12001.0      1       0
1200   2020-03-11  Alachua  Florida  12001.0      1       0
1409   2020-03-12  Alachua  Florida  12001.0      2       0
1675   2020-03-13  Alachua  Florida  12001.0      3       0
1997   2020-03-14  Alachua  Florida  12001.0      3       0
2379   2020-03-15  Alachua  Florida  12001.0      4       0
2814   2020-03-16  Alachua  Florida  12001.0      4       0
3297   2020-03-17  Alachua  Florida  12001.0      6       0
3854   2020-03-18  Alachua  Florida  12001.0      7       0
4519   2020-03-19  Alachua  Florida  12001.0     11       0
5298   2020-03-20  Alachua  Florida  12001.0     15       0
6225   2020-03-21  Alachua  Florida  12001.0     25       0
7261   2020-03-22  Alachua  Florida  12001.0     35       0
8407   2020-03-23  Alachua  Florida  12001.0     37       0
9654   2020-03-24  Alachua  Florida  12001.0     37       0
11030  2020-03-25  Alachua  Florida  12001.0     46       0
12584  2020-03-26  Alachua  Florida  12001.0     53       0
14264  2020-03-27  Alachua  Florida  12001.0     60       0
16059  2020-03-28  Alachua  Florida  12001.0     68       0
17963  2020-03-29  Alachua  Florida  12001.0     72       0
19957  2020-03-30  Alachua  Florida  12001.0     80       0